@media only screen and (min-width: 992px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
    }

    .header_btn{
        width: 200px;
        border-radius: 50px;
        position: relative;
        left: 300px;
        font-size: 20px;
        background: rgb(87,198,79);
background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
border: none;
    }

    .nav-link {
        color: rgb(118, 118, 118);
        
    }

    .nav-link:hover{
        color:rgb(120, 187, 135) ;
    }

    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(120, 187, 135);
        transition: width .3s;
    }
    
    .nav-link:hover::after {
        width: 100%;
        transition: width .3s;
    }

    #about{
        background-color: whitesmoke;
        border: none;
        height: 480px;
    }

    .card{
        border: none;
    }

    .about_text{
        width: 400px;
        color: grey;
        
    }

    .about_title{
        font-size: 50px;
        width: 400px;
        color: rgb(53, 53, 95);
        margin-top: 100px;
    }

    .about_btn{
        border-radius: 50px;
        font-size: 20px;
        background: rgb(87,198,79);
background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
border: none;
    }

    .prod_title{
        font-size: 50px;
        width: 600px;
        color: rgb(53, 53, 95);
        margin-top: 100px;
    }

    .prod_description{
        width: 50%;
        color: grey;
    }

    .product-img{
        margin-left: 20px;
    }

    #articles{
        background-color: whitesmoke;
        padding-top: 50px;
    }

    .articles_title{
        font-size: 50px;
    width: 400px;
    color: rgb(53, 53, 95);
    }

    #contact{
       
        background-color: rgb(34, 81, 123);
    }

    .contact-section{
        display: flex;
    }

    .list_icons li{
        list-style: none;
        margin: 1px 20px;
        margin-top: 30px;
        margin-left: -15px;
    }

    .contact-list-1 li{
        list-style: none;
        color: rgb(204, 204, 204);
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .contact-list-2 li{
        list-style: none;
        color: rgb(204, 204, 204);
        margin-left: 70px;
        margin-bottom: 5px;
    }

    .footer-btn{
        position: absolute;
        right:  200px; font-size: 20px;
    }

    .footer_btn{
        background: rgb(87,198,79);
        background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
        border: none;
        border-radius: 50px;
        margin-top: 15px;
    }
}


@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
    }

    .navbar{
        text-align: center;
    }

    .header_btn{
        width: 200px;
        border-radius: 50px;
        font-size: 20px;
        background: rgb(87,198,79);
background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
border: none;
    }

    .nav-link {
        color: rgb(118, 118, 118);
        text-align: center;
        margin-bottom: 10px;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgb(120, 187, 135);
    }

    .header_btn{
        width: 200px;
        border-radius: 50px;
        font-size: 20px;
        background: rgb(87,198,79);
background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
border: none;
margin: auto auto;
    }

    #about{
        background-color: whitesmoke;
        border: none;
        text-align: center;
    }

    .card{
        border: none;
        background: transparent;
        
    }

    .about_text{
        color: grey;
        
    }

    .about_title{
        font-size: 30px;
        color: rgb(53, 53, 95);
        margin-top: 100px;
    }

    .about_btn{
        border-radius: 50px;
        font-size: 20px;
        background: rgb(87,198,79);
background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
border: none;
    }

    #products{
        text-align: center;
    }

    .product-img{
        margin: auto auto;
    }

    #articles{
      width: 100%;
      margin: auto auto;
      text-align: center;
      background-color: whitesmoke;
    }

    .articles_card{
        width: 80%;
        margin: auto auto;
    }

    .articles_title{
        font-size: 50px;
    color: rgb(53, 53, 95);
    }
    .articles_card{
        background-color: white;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .card-body{
        padding: 30px;
    }

    #contact{
        background-color: rgb(34, 81, 123);
        display: block;
    }

    .list_icons li{
        list-style: none;
        margin: 10px 20px;
        margin-top: 30px;
      text-align: center;
    }

    .contact-list-1 ul li{
        width:100px ;
        margin: auto auto;
        list-style: none;
        color: rgb(204, 204, 204);
        font-size: 20px;
    }

    .contact-list-2 li{
        width:100px ;
        margin: auto auto;
        list-style: none;
        color: rgb(204, 204, 204);
        margin-bottom: 5px;
        font-size: 20px;
    }

    .footer-btn{
        text-align: center;
    }

    .footer_btn{
        background: rgb(87,198,79);
        background: linear-gradient(333deg, rgba(87,198,79,1) 8%, rgba(68,193,198,1) 44%, rgba(111,161,93,1) 100%);
        border: none;
        border-radius: 50px;
        margin-top: 15px;
    }
}


